extends ../layout

block content
  h1 #{title}
  <a href="/passeios/add" class="btn btn-primary"> Novo passeio </a>
  br
  br
  ul.list-group
    each passeio, i in passeios
      li.list-group-item
        div
        <img src="/img/pug.png" alt="Avatar" class="avatar">
        a(href="/passeios/"+passeio._id)= "Tipo : "+passeio.pet +" ,  Valor:R$ " +passeio.valor_passeio +" , Descrição: " + passeio.body
