extends ../layout

block content
  h1= pet.nome
  h4 Dono: #{user.username}
  h4 Tipo:  #{pet.tipo}
  h4 Descrição: #{pet.descricao}
  hr
  if user
    if user.id ==pet.dono
      a.btn.btn-default(href='/pets/edit/'+pet._id) Editar 
      a.btn.btn-danger(href='/pets/delete/'+pet._id) Deletar
  