extends layout

block content
  h1 Registre-se
  form(method='POST', action='/users/register')
    #form-group
      label Nome Completo:
      input.form-control(name='name', type='text')
    #form-group
      label Email:
      input.form-control(name='email', type='text')
    #form-group
      label Nome de Usuário:
      input.form-control(name='username',type='text')
    #form-group
      label Senha:
      input.form-control(name='password',type='password')
    #form-group
      label Confirmar Senha:
      input.form-control(name='password2',type='password')
    br
    <button type="submit">Registrar</button>
    <a href="/" class="cancelbtn"> Cancelar </a>
